<!--<label for="Username"> Username</label>
<input type="text" class="from-control" [(ngModel)]="username">
<p> {{ username }}</p>

<button 
class="btn btn-primary" 
[disabled] ="username === ''" 
(click)= "username = ''"
> Reset </button>
-->
<!--
<app-sec1-ass3></app-sec1-ass3> -->

<!-- 
<div class="div">
    <div class="col-xs-12">
        <app-gamecontrol (intervalFired)="onIntervalFired($event)"></app-gamecontrol>
    </div>
</div>

<div class="row">
    <div class="col-xs-6">
        <app-odd *ngFor="let oddNumber of oddNumbers" [number1]="oddNumber" style="color: brown;">
        </app-odd></div>
        <div class="col-xs-6">
        <app-even *ngFor="let evenNumber of evenNumbers" [number]="evenNumber" style="color: blue;"></app-even>
    </div>
</div>
 -->

<!-- New aSsginment services -->

<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <app-active-users></app-active-users>
            <app-inactive-users></app-inactive-users>
        </div>
    </div>
</div>